html,
body {
  overflow-x: hidden;
  min-width: 700px;
}
ul,
li {
  box-sizing: border-box;
}
.con {
  max-width: 935px;
  height: 150vh;
  margin-left: 20px;
  margin-right: 20px;
}

.list-box {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-bottom: 0px;
  padding-top: 0px;
  height: 100%;
  width: auto;
  min-width: 700px;
}
.list-box > li {
  position: relative;
  width: 100%;

  overflow: hidden;
  max-height: 293px;
  display: flex;
  flex-direction: column;
  min-width: 230px;
}
.list-box > li > a {
  display: block;
  width: 100%;
  height: 100%;

  min-width: 230px;
  max-height: 293px;
}

.list-box img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  max-height: 293px;
  min-width: 230px;
}
.section-2 > ul > li > a::before {
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  top: 0%;
  left: 0%;
  right: 0%;
  bottom: 0%;
  content: "";
  transition: linear 0.4s;
}
.section-2 > ul > li:hover > a::before {
  background-color: rgba(0, 0, 0, 0.4);
}

/* after 글자 지정 */
.section-2 > ul > li > a::after,
.list-box .icon,
ul > li > a > div > span {
  content: "";
  color: rgb(255, 255, 255);
  font-size: 1.2rem;
  font-weight: bold;
  position: absolute;
  padding: 5px;
  top: 49.8%;
  left: 35%;
  transform: translate(-50%, -50%);
  letter-spacing: 3px;
  display: none;
  transition: linear 0.4s;
}
ul > li > a > div:last-child > span {
  top: 49.8%;
  left: 80%;
}
.list-box .icon {
  top: 50%;
  left: 15%;
}
a > div:last-child > .icon {
  top: 50%;
  left: 62%;
}
.section-2 > ul > li:hover > a::after,
.section-2 > ul > li:hover > a > div > * {
  display: block;
}
@media (max-width: 820px) {
  ul > li > a > div:last-child > span {
    top: 55%;
    left: 60%;
  }
}
@media (max-width: 820px) {
  ul > li > a > div:nth-last-child(2) > span {
    top: 45%;
    left: 62%;
  }
}
@media (max-width: 820px) {
  ul > li > a > div:last-child > .icon {
    top: 55%;
    left: 40%;
  }
}
@media (max-width: 820px) {
  .list-box .icon {
    top: 45%;
    left: 40%;
  }
}
