.joinBar * {
  font-family: "GangwonEdu_OTFBoldA";
}
.joinBar {
  margin: 0 auto;
  width: 400px;
  height: 600px;
  border: 1.5px rgb(209, 209, 209) solid;
  position: relative;
  margin-top: 100px;
}

.joinBar > .Logo {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  width: 200px;
}
.joinBar_Return {
  display: inline-block;
  position: relative;
  left: 80%;
  top: 2%;
  border: 0.7px rgb(209, 209, 209) solid;
  padding: 0 5px;
  padding-top: 3px;
}
.joinBar_Return > a {
  display: block;
}
.joinBar_span {
  position: relative;
  top: 25%;
  text-align: center;
  width: 210px;
  font-size: 1.3rem;
  font-weight: bolder;
  margin: 0 auto;
}
.joinInput {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  top: 30%;
}
.joinInput * {
  border: 1.5px rgb(209, 209, 209) solid;
  margin: 5px;
  width: 300px;
  height: 40px;
}
.joinButton {
  position: relative;
  top: 35%;
  left: 12%;
  margin: 0 auto;
}
.joinButton > button {
  width: 300px;
  height: 40px;
  background-color: rgba(30, 168, 228, 0.5);
  color: white;
}
